.layout-header {
  padding: 4px 6px;

  &__right-block {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .sos-btn {
    button {
      font-weight: bold;
    }
  }

  .date {
    text-align: right;
    font-size: 0.8rem;
  }
}
