<section class="same-pet">
  <button type="button" class="same-pet__toggle" (click)="toggleOpen()">
    Посмотрите на других обитателей приюта
  </button>

  @if (isOpen) {
    <div class="same-pet__panel">
      @if (loading) {
        <div class="same-pet__state">Подбираем похожих питомцев...</div>
      } @else if (galleryItems.length) {
        <div class="same-pet__galleria">
          <p-galleria
            [value]="galleryItems"
            [activeIndex]="activeIndex"
            (activeIndexChange)="activeIndex = $event"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '760px' }"
            [numVisible]="5"
          >
            <ng-template pTemplate="item" let-item>
              <a class="same-pet__item" [routerLink]="['/pets', item.pet.id]">
                <img
                  class="same-pet__item-img"
                  [ngSrc]="item.itemImageSrc"
                  [alt]="item.alt"
                  width="760"
                  height="570"
                />
                <div class="same-pet__item-info">
                  <div class="same-pet__item-title">{{ item.pet.name }}</div>
                  <div class="same-pet__item-meta">
                    <span>{{ item.pet.age }} лет</span>
                    <span>&bull;</span>
                    <span>{{ item.pet.sex === 'male' ? 'мальчик' : 'девочка' }}</span>
                  </div>
                  <div class="same-pet__item-char">{{ item.pet.character }}</div>
                </div>
              </a>
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item>
              <img
                class="same-pet__thumb"
                [ngSrc]="item.thumbnailImageSrc"
                [alt]="item.alt"
                width="160"
                height="64"
              />
            </ng-template>
          </p-galleria>
        </div>
      } @else {
        <div class="same-pet__state">Пока нет похожих питомцев, но скоро появятся.</div>
      }
    </div>
  }
</section>
