.home {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.home-section {
  padding: 0 16px 24px;
}

.section-title {
  margin: 0 0 16px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
